<div class="center-block jumbotron">
    <h2>iWonderWiki: Social, Markdown Wikis</h2>
</div>
<div class="container center-block">
    <h5>iWonderWiki is an application for creating or reading social, markdown wikis. It's for those times when you say "I wonder...."</h5>
    <h5>Sign up for a <a>Free Plan</a> to share your wikis publicly or sign up for a <a>Premium Plan</a> to create private wikis to share with collaborators.</h5>
</div>
