<div class="center-block jumbotron">
    <h2>Blocipedia: Social, Markdown Wikis</h2>
</div>
<div class="container center-block">
    <h5>Blocipedia is an application for creating social, markdown wikis. Sign up for a <a>Free Plan</a> to share your wikis publicly or sign up for a <a>Premium Plan</a> to create private wikis to share with collaborators.</h5>
</div>
