<h1 class="center-block">Public Wikis</h1>
<div class="container wiki-index">
    <% @wikis.each do |wiki| %>
        <% unless wiki.private? %>
            <div class="row wiki-row">
                <div class="col-sm-7 divider"><%= link_to wiki.title, wiki %></div>
                <div class="col-sm-5">Author: <%= wiki.user.email %></div>
            </div>
        <% end %>    
    <% end %>    
</div>
<% if current_user.role == 'premium' || current_user.role == 'admin' %>    
    <h1 class="center-block">Private Wikis</h1>
    <div class="container wiki-index">
        <% @wikis.each do |wiki| %>
            <% if wiki.user == current_user && wiki.private? %>
                <div class="row wiki-row">
                    <div class="col-sm-5 divider"><%= link_to wiki.title, wiki %></div>
                    <div class="col-sm-7">Author: <%= wiki.user.email %></div>
                </div>
            <% end %>    
        <% end %>
    </div>    
<% end %>     
