h1  {
    padding: 3rem;
}

.wiki-body  {
    padding-left: 5%;
    padding-right: 5%;
}

.wiki-index  {
    max-width: 800px;
    padding-bottom: 3rem;
}

.wiki-row  {
    margin-bottom: 2rem;
}

.collaborator-title  {
    padding-top: 3rem;  
    padding-bottom: 1rem;
}

.collaborators  {
    padding-bottom: .1rem;
}

.buttons-div  {
    padding-top: 4rem;
}